body {
    font-family: "Source Sans Pro";
}

button {
    border: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Source Sans Pro";
}

h2 {
    margin-top: -20px;
    font-size: 60px;
    margin-bottom: -8px;
    font-weight: normal;
}

h4 {
    margin-bottom: -15px;
    font-weight: normal;
}

#header {
    width: 1000px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#logo {
    vertical-align: middle;
    display: inline-block;
}

#miniHeader {
    vertical-align: middle;
    display: inline-block;
    text-align: left;
}

#navBar {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    text-align: center;
    margin-bottom: 30px;
}

#navBar a {
    padding: 1px 20px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 12px;
    cursor: pointer;
}

#navBar a:hover {
    color: grey;
}

#containerTop {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: auto;
}

#imageMap {
    vertical-align: middle;
    width: 60%;
    display: inline-block;
}

#miniContainerTop {
    vertical-align: middle;
    width: 35%;
    display: inline-block;
}

#miniContainerTop h3 {
    font-size: 30px;
    font-weight: normal;
}

.button {
    text-align: center;
    width: 100px;
    border-radius: 10px;
    padding: 10px 32px;
    background-color: rgb(168, 0, 0);
    color: white;
}

.button:hover {
    background-color: #A53434;
    cursor: pointer;
}

#containerBottom {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
}

.miniContainerBottom {
    padding-left: 2%;
    padding-right: 2%;
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

.prize img {
    display: inline-block;
}

#prizeText {
    margin-left: 2%;
    width: 80%;
    display: inline-block;
}

#prizeText p {
    vertical-align: middle;
    font-size: 12px;
}

#containerBottomRight {
    text-align: center;
    font-size: 12px;
}

#logoPPItext {
    text-align: center;
}

#logoPPItext p {
    margin-bottom: -10px;
}

footer {
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
}

#register {
    font-size: 14px;
}

.registForm {
    position: fixed;
    text-align: center;
    z-index: 100;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 70%;
    width: 70%;
    z-index: 100;
    top: 20%;
    left: 15%;
    right: 15%;
    font-size: 1.7vw;
    visibility: hidden;
}

#closeButtonLine {
    position: relative;
    height: 30px;
    top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

#closeButtonLine #closeButton {
    height: 25px;
    float: right;
    cursor: pointer;
}

#registFormBox {
    margin-left: 1%;
    margin-right: 1%;
    height: 85%;
    color: white;
    border-radius: 10px;
}

#registFormBox h2 {
    font-family: "Source Sans Pro";
    font-size: 30px;
}

#registForm {
    margin-left: 10%;
    margin-right: auto;
    width: 90%;
    text-align: left;
    margin-top: 2%;
    position: relative;
    height: 90%;
    overflow-y: scroll;
}

input {
    width: 100%;
    height: 20px;
    display: block;
    margin-bottom: 2%;
}

label {
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

input[type=text] {
    font-family: "Source Sans Pro";
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    color: black;
    border: none;
}

input[type=text]:focus {
    background-color: lightblue;
    outline: 0;
}

.half {
    float: left;
    width: 42%;
    display: inline-block;
    margin-right: 30px;
}

.full {
    float: left;
    width: 88%;
}

textarea {
    width: 100%;
    font-family: "Source Sans Pro";
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    color: black;
    border: none;
}

textarea:focus {
    background-color: lightblue;
    outline: 0;
}

#daftar {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    display: inline-block;
    text-align: center;
}

#titleGuidelines {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#guidelinesContainer {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.guidelinesContainerMini {
    vertical-align: top;
    width: 45%;
    font-size: 14px;
    display: inline-block;
    margin-right: 3%;
}

.guidelinesContainerMini h3 {
    text-align: center;
    margin-bottom: -20px;
}

#aboutContainer {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#aboutContainer img {
    width: 500px;
}

.aboutContainerMini {
    vertical-align: middle;
    width: 48%;
    font-size: 14px;
    display: inline-block;
    margin-right: 1%;
}

#aboutButtons {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.button.aboutButton {
    margin: 2px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    height: 30px;
    vertical-align: middle;
    font-size: 12px;
}

#socMed {
    width: 800px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#socMed a img {
    width: 25px;
    height: 25px;
    margin: 3px;
}

#socMed a img:hover {
    transform: scale(1.2, 1.2);
}

.line {
    border-left: thick solid #ff0000;
}

#contactContainer {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.contactContainerMini {
    width: 100%;
}

.contactID {
    width: 25%;
    margin: 0 10px;
    padding: 0 20px;
    display: inline-block;
}

.contactID p {
    font-size: 14px;
}

#lined {
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}

#resAndSub {
    width: 100%;
    text-align: center;
    margin-left: -50px;
}

#panitiaLogo {
    vertical-align: middle;
    display: inline-block;
    width: 30%;
}

#panitiaLogo p {
    margin-top: -20px;
}

#sendMessage {
    width: 60%;
    display: inline-block;
}

#sendMessageInput {
    vertical-align: middle;
    width: 50%;
    display: inline-block;
}

#sendMessageInput input {
    font-size: 12px;
    border: 1px solid grey;
    padding: 7px;
    width: 90%;
}

#sendMessageTextArea {
    vertical-align: middle;
    width: 40%;
    display: inline-block;
}

#sendMessageTextArea textarea {
    font-size: 12px;
    border: 1px solid grey;
}

#sendMessageTextArea button {
    float: right;
    width: 50px;
    padding: 6px 8px;
    font-size: 12px;
    margin: 0px;
    border-radius: 10px;
}

#indoTurkeyContainer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#indoTurkeyContainer .sign {
    cursor: pointer;
}

#indoTurkeyContainer .sign:hover {
    transform: scale(1.2, 1.2);
}

#video {
    margin-top: 30px;
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.uploader-green-button .uploadcare--widget__button_type_open {
    background-color: rgb(168, 0, 0);
    width: auto;
    font-size: 16px;
}

.uploader-green-button .uploadcare--widget__button_type_open:hover {
    background-color: #A53434;
}

.col1 {
    width: 200px;
    float: left;
}